In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv("Covid-19.csv")
data.head(9)

   Country  New cases in April
0       US              888804
1   France              140313
2       UK              139956
3    Spain              127546
4   Turkey              106673
5   Russia              104161
6    Italy               99671
7  Germany               91201